.bot{
  width: 150px;
  //height: 300px;
  position: absolute;
}
.svgpath{
  fill:none;
  stroke: white;
  stroke-width:2;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
}

main{
  border: 3px solid white;
  width: 100%;
  position: relative;
  height: 100%;
}
