#camera-holder{
  width: 20vw;
  height: calc(20vw * 0.75);
  overflow: hidden;
  background-color: #333;
  background-image: url('https://i.stack.imgur.com/mWcEB.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
