<app-camera></app-camera>
<app-drivetrain></app-drivetrain>
<app-compass></app-compass>
<!--<frc-differential-drivebase left-motor-speed="0.5" right-motor-speed="-0.5"></frc-differential-drivebase>-->
<frc-dashboard>
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan0" value="40"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan1" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan2" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan3" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan4" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan5" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan6" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan7" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan8" value="20"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan9" value="30"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan10" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan11" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan12" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan13" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan14" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/chan15" value="0"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/voltage" value="10"></nt-number>-->
<!--  <nt-number key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]/totalCurrent" value="500"></nt-number>-->

  <frc-pdp source-key="/LiveWindow/Ungrouped/PowerDistributionPanel[0]">
  </frc-pdp>
  <!-- Dashboard code goes here -->
</frc-dashboard>
