h3{
  word-break: break-all;
}
button{
  padding: 0 0.5vh 0 0.5vh;
  height: 5vh;
  font-size: 2vh;
  margin-right: 0.5vw;
}

a.dropdown-item.is-active{
  width: inherit;
  background-color: #ffd200;
  color: black;
}

.dropdown-content{
  background-color: #222222;
}

.dropdown-menu{
  //width: 100%;
  //min-width: 100%;
}

.dropdown-item{
  color: white;
  font-size: 2vh;
}

.dropdown-item:hover{
  width: inherit;
  background-color: #444444;
  color: white;
}

.title{
  font-size: 4vh;
}

.drive-cmd{
  font-size: 2vh;
}

frc-source-tree{
  width: 80%;
  background-color: #222222;
  padding: 2vw;
  border-radius: 1vw;

}

input{
  background-color: black;
}
