<frc-differential-drivebase source-key="/LiveWindow/Ungrouped/DifferentialDrive[1]"></frc-differential-drivebase>

<!--<svg viewBox="0 0 500 500" width="300px" height="300px">-->
<!--  <clipPath id="clipLeft">-->
<!--    <rect [attr.height]="getBarHeight(left).toString()+'px'" width="50" [attr.y]="getBarY(left).toString()+'px'" x="10" stroke-width="1.5" stroke="none" fill="#ff0000"/>-->
<!--  </clipPath>-->
<!--  <clipPath id="clipRight">-->
<!--    <rect [attr.height]="getBarHeight(right).toString()+'px'" width="50" [attr.y]="getBarY(right).toString()+'px'" x="440" stroke-width="1.5" stroke="none" fill="#ff0000"/>-->
<!--  </clipPath>-->
<!--  <g xmlns="http://www.w3.org/2000/svg">-->
<!--    <rect height="300" width="243" y="100" x="128.5" stroke-width="1.5" stroke="#000" fill="none"/>-->

<!--    <rect rx="10" id="left-outline" height="480" width="50" y="10" x="10" stroke-width="1.5" stroke="#000" fill="none"/>-->
<!--    <rect clip-path="url(#clipLeft)" rx="10" id="svg_2" height="480" width="50" y="10" x="10" stroke-width="1.5" stroke="none" fill="#ff0000"/>-->

<!--    <rect rx="10" id="right-outline" height="480" width="50" y="10" x="440" stroke-width="1.5" stroke="#000" fill="none"/>-->
<!--    <rect clip-path="url(#clipRight)" rx="10" id="svg_2" height="480" width="50" y="10" x="440" stroke-width="1.5" stroke="none" fill="#ff0000"/>-->
<!--  </g>-->
<!--</svg>-->
<!--<br>-->
<!--<input type="range" min="-1" max="1" [(ngModel)]="left" step="0.01">-->
<!--<input type="range" min="-1" max="1" [(ngModel)]="right" step="0.01">-->
